body {
    background-color: var(--grey);
    font-family: 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    align-items: center;
    background-color: var(--red);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
  
button:hover { 
    background-color: var(--dark-red);
    color: whitesmoke;
}
  
button:active {
    background: var(--dark-red);
    color: whitesmoke;
}
  
button:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.buttons-header-shared {
    width: 100%;
    margin: 20px;
}

.header-span-shared {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.header-span-shared > * {
    margin: 5px;
}